[submodule "docs/papers/TIV2026"]
	path = docs/experiments/results/exp2-analysis/paper/TIV2026
	url = git@github.com:YutaroNakagama/TIV2026.git
[submodule "docs/experiments/results/exp3-analysis/TIV2026_exp3"]
	path = docs/experiments/results/exp3-analysis/TIV2026_exp3
	url = git@github.com:YutaroNakagama/TIV2026_exp3.git
